<a href="https://colab.research.google.com/github/SethupathyM/Project_Grade_Programming/blob/main/Hotel_Booking_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [4]:
set_path = '/content/drive/MyDrive/AlmaBetter/Colab Notebooks/Copy of Hotel Bookings.csv'

In [5]:
df_ht = pd.read_csv(set_path)

In [6]:
df_ht.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [7]:
count = df_ht.isnull().sum()
percentage = round(count/df_ht.isnull().count(),4) *100
df_temp = pd.concat([count,percentage], axis = 1, keys = ['null_count', 'null_percent'])
df_temp

                                null_count  null_percent
hotel                                    0          0.00
is_canceled                              0          0.00
lead_time                                0          0.00
arrival_date_year                        0          0.00
arrival_date_month                       0          0.00
arrival_date_week_number                 0          0.00
arrival_date_day_of_month                0          0.00
stays_in_weekend_nights                  0          0.00
stays_in_week_nights                     0          0.00
adults                                   0          0.00
children                                 4          0.00
babies                                   0          0.00
meal                                     0          0.00
country                                488          0.41
market_segment                           0          0.00
distribution_channel                     0          0.00
is_repeated_guest                        0          0.00
previous_cancellations                   0          0.00
previous_bookings_not_canceled           0          0.00
reserved_room_type                       0          0.00
assigned_room_type                       0          0.00
booking_changes                          0          0.00
deposit_type                             0          0.00
agent                                16340         13.69
company                             112593         94.31
days_in_waiting_list                     0          0.00
customer_type                            0          0.00
adr                                      0          0.00
required_car_parking_spaces              0          0.00
total_of_special_requests                0          0.00
reservation_status                       0          0.00
reservation_status_date                  0          0.00

In [34]:
df_ht = df_ht.drop((df_temp[df_temp['null_percent'] > 15]).index,1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.

In [40]:
df_ht.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [45]:
df_ht['arrival_date_month'].unique()

array(['July', 'August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June'],
      dtype=object)

In [47]:
def num_month(month_name):
  return
  {
      'January' : 1,
      'February' : 2,
      'March' : 3,
      'April' : 4,
      'May' : 5,
      'June' : 6,
      'July' : 7,
      'August' : 8,
      'September' : 9,
      'October' : 10,
      'November' : 11,
      'December' : 12,           
    }

In [1]:
df_ht['month_num'] = df_ht.arrival_date_month.apply(lambda x : x.num_month)

NameError: ignored