<a href="https://colab.research.google.com/github/SethupathyM/Project_Grade_Programming/blob/main/Hotel_Booking_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import numpy as np
import pandas as pd
import datetime
from datetime import datetime

In [59]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [60]:
set_path = '/content/drive/MyDrive/AlmaBetter/Colab Notebooks/Copy of Hotel Bookings.csv'

In [61]:
df_ht = pd.read_csv(set_path)

In [62]:
# Counting the total null values in each columns
count = df_ht.isnull().sum()
#Percentage of total null values in each columns
percentage = round(count/df_ht.isnull().count(),4) *100
#concating the count and percentage
df_temp = pd.concat([count,percentage], axis = 1, keys = ['null_count', 'null_percent'])

In [63]:
#Droping the columns with null values greater than 15 percent
df_ht = df_ht.drop((df_temp[df_temp['null_percent'] > 15]).index,1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [64]:
# Function to convert month_name to month_number
def num_month(month_name):
  if month_name == 'January':
    month_name = '01'
  elif month_name == 'February':
    month_name = '02'
  elif month_name == 'March':
    month_name = '03'
  elif month_name == 'April':
    month_name = '04'
  elif month_name == 'May':
    month_name = '05'
  elif month_name == 'June':
    month_name = '06'
  elif month_name == 'July':
    month_name = '07'
  elif month_name == 'August':
    month_name = '08'
  elif month_name == 'September':
    month_name = '09'
  elif month_name == 'October':
    month_name = '10'
  elif month_name == 'November':
    month_name = '11'
  elif month_name == 'December':
    month_name = '12'
  return month_name
#Function to convert single_digit_date to double_digit_date
def date_two_digit(single_digit_date):
  if single_digit_date == 1:
    single_digit_date = '01'
  elif single_digit_date == 2:
    single_digit_date = '02'
  elif single_digit_date == 3:
    single_digit_date = '03'
  elif single_digit_date == 4:
    single_digit_date = '04'
  elif single_digit_date == 5:
    single_digit_date = '05'
  elif single_digit_date == 6:
    single_digit_date = '06'
  elif single_digit_date == 7:
    single_digit_date = '07'
  elif single_digit_date == 8:
    single_digit_date = '08'
  elif single_digit_date == 9:
    single_digit_date = '09'
  elif single_digit_date == 10:
    single_digit_date = '10'
  return single_digit_date

In [65]:
#Applying num_month function to df
df_ht['month_num'] = df_ht['arrival_date_month'].apply(num_month)
#Applying date_two_digit function to df
df_ht['arrival_date_day_of_month'] = df_ht['arrival_date_day_of_month'].apply(date_two_digit)
#Assigning month_num to arrival_date_month
df_ht['arrival_date_month'] = df_ht['month_num']
#droping month_num
df_ht.drop(['month_num'], axis = 1, inplace = True)

In [66]:
#Concating columns to get date in str format
df_ht['date_'] = df_ht['arrival_date_year'].astype(str)+ '-' + df_ht['arrival_date_month'].astype(str) + '-' + df_ht['arrival_date_day_of_month'].astype(str)

In [67]:
#Converting the date from str to DATE format 
df_ht['date'] = pd.to_datetime(df_ht.date_)

In [68]:
#droping temporary column
df_ht.drop(['date_'], axis = 1)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,date
0,Resort Hotel,0,342,2015,07,27,01,0,0,2,...,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01
1,Resort Hotel,0,737,2015,07,27,01,0,0,2,...,No Deposit,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01,2015-07-01
2,Resort Hotel,0,7,2015,07,27,01,0,1,1,...,No Deposit,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01
3,Resort Hotel,0,13,2015,07,27,01,0,1,1,...,No Deposit,304.0,0,Transient,75.00,0,0,Check-Out,2015-07-02,2015-07-01
4,Resort Hotel,0,14,2015,07,27,01,0,2,2,...,No Deposit,240.0,0,Transient,98.00,0,1,Check-Out,2015-07-03,2015-07-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,08,35,30,2,5,2,...,No Deposit,394.0,0,Transient,96.14,0,0,Check-Out,2017-09-06,2017-08-30
119386,City Hotel,0,102,2017,08,35,31,2,5,3,...,No Deposit,9.0,0,Transient,225.43,0,2,Check-Out,2017-09-07,2017-08-31
119387,City Hotel,0,34,2017,08,35,31,2,5,2,...,No Deposit,9.0,0,Transient,157.71,0,4,Check-Out,2017-09-07,2017-08-31
119388,City Hotel,0,109,2017,08,35,31,2,5,2,...,No Deposit,89.0,0,Transient,104.40,0,0,Check-Out,2017-09-07,2017-08-31
119389,City Hotel,0,205,2017,08,35,29,2,7,2,...,No Deposit,9.0,0,Transient,151.20,0,2,Check-Out,2017-09-07,2017-08-29

In [69]:
df_ht.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  object
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  days_in_waiting_list            119390 non-null  int64
 25  customer_type                   119390 non-null  object
 26  adr                             119390 non-null  float64
 27  required_car_parking_spaces     119390 non-null  int64
 28  total_of_special_requests       119390 non-null  int64
 29  reservation_status              119390 non-null  object
 30  reservation_status_date         119390 non-null  object
 31  date_                           119390 non-null  object
 32  date                            119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(15), object(14)
memory usage: 30.1+ MB